auto
Thesis.pdf
.DS_Store
._.DS_Store
*.aux
*.log
*.out
*~
.#*
Report
Thesis.acn
Thesis.acr
Thesis.alg
Thesis.bbl
Thesis.blg
Thesis.glg
Thesis.glo
Thesis.gls
Thesis.glsdefs
Thesis.idx
Thesis.lof
Thesis.lot
Thesis.toc
Thesis.xdy
*-eps-converted-to.pdf
q.2602gf
feynmandiag/*
